*{
    box-sizing: border-box;
    margin:5px;
    padding:0;
}
body{
   
 background-color:rgb(111, 190, 190);

}
#theme {
    width: 100vw;
    height: 100vh;
  }
section{
 display:flex;
 flex-direction: row;
 justify-content:space-evenly;
 justify-items:left;

 padding:.5rem;
}
.remember{
    display:flex;
    flex-direction: row;
    justify-content: right;
}
/* --Div used to Display words and definitions----*/
#container{
    margin:auto;
    height:fit-content;
}

h1{
    margin:auto;
   font-size:3rem;
   text-align: center; 
   color:rgb(5, 60, 87);
}
h2{
    text-align: center;
    color:rgb(207, 242, 242);
    font-size: 1.5rem;;
    margin:50px ;
}

/* --Dynamically created heading to display the  words----*/
h3{
    margin:auto;
    text-align: center;
    color: #8b9815;
    font-size:2.5rem;
}

/* --Random Word generator button----*/
#btn{
    cursor: pointer;
    width:220px;
    height:80px;
    font-size:1.5rem;
    background-color: brown;
    color:#f5f5dc;
    margin:30% 20%;
    border:4px solid rgb(75, 90, 45);

   
}

/* -- Typed word Submit button----*/
#typebtn {
    cursor: pointer;
    width:220px;
    height:80px;
    font-size:1.5rem;
    background-color: brown;
    color:#f5f5dc;
    border:4px solid rgb(75, 90, 45);
   
}

/* -- Id for the Input----*/
#wordtype ,#entername {
    width:200px;
    height:30px;
    background-color: #c0ecec;
    color:rgb(8, 82, 114);
    font-size: 1.5rem;
    padding:10px;
}

/* -- Dynamically created paragraph by JS to display definitions ----*/
p
{
   text-align: center;
    font-size:1.5rem;
    background-color: #4e070a;
    color:#f5f5dc;
    margin:3px;
    padding:.5rem;
}

/* toggle mode*/
#toggle-btn:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .dark-mode-toggle {
    background: #000;
    color: #fff;
  }
    #toggle-btn{
        padding:2px;
        font-size:1rem;
        margin-left:30px;
    }

  .dark-mode-theme {
    background: #000;
    color: #fff;
  }

  .dark-mode-theme > h1 {
    color:rgb(247, 144, 35);
  }